@{
	ViewData["Name"] = "DealType";
}

<div class="animated fadeIn">
	<div class="card">
		<div class="card-body">
			<div class="col">
				<div class="col">

					<div class="row">
						<div class="form-group col-md-4 required">
							<label for="name">Название типа сделки</label>
							<input type="text" class="form-control" id="name" required placeholder="Название направления">
						</div>

						<div class="form-group col-md-4 required">
							<label for="department">Родительский департамент</label>
							<br />
							<select class="form-control" required style="width:100%; height:2.5em;" id="department"></select>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="card-footer">
			<div class="row" style="justify-content:center">
				<label id="error" style="visibility:hidden; color:red">Заполните необходимые поля</label>
			</div>
			<div class="row form-actions text-center" style="justify-content:center;">
				<input id="save" onclick="SaveType()" style="margin:5px;" type="button" class="btn btn-primary" value="Сохранить">
				<input id="delete" onclick="DeleteType()" style="display:none; margin:5px;" type="button" class="btn btn-danger" value="Удалить">
			</div>

		</div>
	</div>
</div>

@section Styles {

	<link href="~/lib/select2/select2.min.css" rel="stylesheet" />
	<link href='~/lib/dropzone/dropzone.css' type='text/css' rel='stylesheet'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta charset="UTF-8" />
}

@section Scripts
{
	<script src="~/lib/select2/select2.min.js"></script>

	<script>
		$("select").select2({
			placeholder: "Выберите элемент",
			allowClear: true
		});
	</script>

	<script src="~/js/Admin/dealType.js" asp-append-version="true"></script>
}