
@{
	ViewData["Name"] = "Department";
}

<div class="animated fadeIn">
	<div class="card">
		<div class="card-body">
			<div class="col">
				<div class="col">

					<div class="row">
						<div class="form-group col-md-4 required">
							<label for="name">Название подраделения</label>
							<input type="text" class="form-control" id="name" required placeholder="Название подраделения">
						</div>

						<div class="form-group col-md-4 required">
							<label for="parent-department">Родительский департамент</label>
							<br />
							<select class="form-control" required style="width:100%; height:2.5em;" id="parent-department"></select>
						</div>

						<div class="form-group col-md-4 required">
							<label for="parent-department">Руководитель</label>
							<br />
							<select class="form-control" required style="width:100%; height:2.5em;" id="manager"></select>
						</div>

					</div>

					<br />

					<div class="row">
						<div class="form-group col-md-3">
							<label class="switch switch-3d switch-primary">
								<input id="isExecute"
									   type="checkbox" class="switch-input">
								<span class="switch-label"></span>
								<span class="switch-handle"></span>
							</label>
							<label class="form-check-inline"
								   for="isExecute">
								Производственный
							</label>
						</div>

						<div class="form-group col-md-3">
							<label class="switch switch-3d switch-primary">
								<input id="isProduct"
									   type="checkbox" class="switch-input">
								<span class="switch-label"></span>
								<span class="switch-handle"></span>
							</label>
							<label title="Подготовить ТЗ / Конкурсную документацию"
								   class="form-check-inline"
								   for="isProduct">
								Продуктовый
							</label>
						</div>
						<div class="form-group col-md-3">
							<label class="switch switch-3d switch-primary">
								<input id="isSell"
									   type="checkbox" class="switch-input">
								<span class="switch-label"></span>
								<span class="switch-handle"></span>
							</label>
							<label title="Подготовить ТЗ / Конкурсную документацию"
								   class="form-check-inline"
								   for="isSell">
								Продающий
							</label>
						</div>
						<div class="form-group col-md-3">
							<label class="switch switch-3d switch-primary">
								<input id="isActive"
									   type="checkbox" class="switch-input">
								<span class="switch-label"></span>
								<span class="switch-handle"></span>
							</label>
							<label title="Подготовить ТЗ / Конкурсную документацию"
								   class="form-check-inline"
								   for="isActive">
								Активный
							</label>
						</div>

					</div>

				</div>
			</div>
		</div>
		<div class="card-footer">
			<div class="row" style="justify-content:center">
				<label id="error" style="visibility:hidden; color:red">Заполните название подраделения</label>
			</div>
			<div class="row form-actions text-center" style="justify-content:center;">
				<input id="save" onclick="SaveDepartment()" style="margin:5px;" type="button" class="btn btn-primary" value="Сохранить">
				<input id="delete" onclick="DeleteDepartment()" style="display:none; margin:5px;" type="button" class="btn btn-danger" value="Удалить">
			</div>

		</div>
	</div>
</div>

@section Styles {

	<link href="~/lib/select2/select2.min.css" rel="stylesheet" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta charset="UTF-8" />
}


@section Scripts
{
	<script src="~/lib/select2/select2.min.js"></script>

	<script>
		$("select").select2({
			placeholder: "Выберите элемент",
			allowClear: true
		});
	</script>

	<script src="~/js/Admin/department.js" asp-append-version="true"></script>
}