@model CRM.Data.Dtos.UserSettings.UserEmailSettingsDto
@{
    ViewData["Name"] = "Личный кабинет";
}

<div class="card">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="email-tab" data-toggle="tab" href="#email" role="tab" aria-controls="email" aria-selected="true">Управление уведомлениями</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="email" role="tabpanel" aria-labelledby="email-tab">
            <div id="emails-container">
                <ul class="list-group list-group-flush w-50">
                    <partial name="PersonalManagement/EmailManagement" model="@Model"/>
                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/lib/select2/select2.min.js"></script>
    <script src="~/js/PrivateManagement/EmailManagement.js"></script>
}

@section Styles {
    <link href="~/lib/select2/select2.min.css" rel="stylesheet" />

    <style>
        a:hover {
            cursor: pointer;
        }

        #emails-container .list-group-item {
            min-height: 50px;
        }
        /********************************************************************************/
        /* The switch - the box around the slider */
        #emails-container .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
            float: right;
        }

        /* Hide default HTML checkbox */
        .switch input {
            display: none;
        }

        /* The slider */
        #emails-container .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .2s;
            transition: .2s;
        }

            #emails-container .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .2s;
                transition: .2s;
            }

        #emails-container input.primary:checked + .slider {
            background-color: #2196F3;
        }

        #emails-container input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        #emails-container input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        #emails-container .slider.round {
            border-radius: 34px;
        }

            #emails-container .slider.round:before {
                border-radius: 50%;
            }

        /********************************************************************************/

        .input-error {
            border: 1px solid red;
        }

        .modal .modal-dialog {
            width: 400px;
        }

        .inactive {
            opacity: 0.5;
        }

            .inactive::after {
                content: "Деактивировано (нет возможности выбрать элемент при заполнении формы)";
            }

        .list-group {
            margin-bottom: 0;
        }
            /*****************************/
            .list-group.list-group-root {
                padding: 0;
                overflow: hidden;
            }

                .list-group.list-group-root .list-group {
                    margin-bottom: 0;
                }

                .list-group.list-group-root .list-group-item {
                    border-radius: 0;
                    border-width: 1px 0 0 0;
                }

                .list-group.list-group-root > .list-group-item:first-child {
                    border-top-width: 0;
                }

                .list-group.list-group-root > .list-group > .list-group-item {
                    padding-left: 30px;
                }

                .list-group.list-group-root > .list-group > .list-group > .list-group-item {
                    padding-left: 45px;
                }

        .list-group-item .glyphicon {
            margin-right: 5px;
        }
    </style>
}