@{
    ViewData["Name"] = "CRM";
}
<div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                @if (!ViewBag.IsOl)
                {
                    <div class="col-6 top-organizations-block">
                        <div class="m-auto text-center p-3">
                            <h3>ТОП-@(ViewBag.IsTop ? "30" : "10") организаций</h3>
                        </div>
                        <div>
                            <div class="m-auto loader loader-top-organizations"></div>
                            <div class="alert alert-danger alert-top-organizations" role="alert" style="display: none;">
                                Что-то пошло не так, обратитесь к администратору.
                            </div>
                        </div>
                        <div style="max-height: 450px; overflow-y: auto;">
                            <table class="table table-hover table-top-organizations" style="display: none;">

                                <tbody>
                                </tbody>
                            </table>
                        </div>

                        <div class="total-margin-block-top-organizations mt-4">
                            <h5 class="d-inline">Итого по офису продаж:</h5>
                            <h5 class="d-inline" id="total-margin-top-organizations"></h5>
                        </div>
                    </div>

                    <div class="col-6 sales-hole-block">
                        <div class="m-auto text-center p-3">
                            <h3>Воронка продаж</h3>
                        </div>
                        <div>
                            <div class="m-auto loader loader-sales-hole"></div>
                            <div class="alert alert-danger alert-sales-hole" role="alert" style="display: none;">
                                Что-то пошло не так, обратитесь к администратору.
                            </div>
                        </div>

                        <div class="info-sales-hole" style="display: none">
                            @if (ViewBag.IsTop)
                            {
                                <div class="text-center" data-toggle="buttons">
                                    @if (ViewBag.ManagedDepartmentName == "ДИС" || ViewBag.ManagedDepartmentName == "")
                                    {
                                        <span class="btn btn-outline-primary" onclick="loadSalesHoleOfUnit('Офис продаж ЕКБ', this)">ОП Екб</span>
                                        <span class="btn btn-outline-primary" onclick="loadSalesHoleOfUnit('Офис продаж СПБ', this)">ОП СПб</span>
                                        <span class="btn btn-outline-primary" onclick="loadSalesHoleOfUnit('Офис продаж ТЮМ', this)">ОП ТМН</span>
                                        <span class="btn btn-outline-primary" onclick="loadSalesHoleOfUnit('Офис продаж ПРМ', this)">ОП ПРМ</span>
                                    }

                                    @if (ViewBag.ManagedDepartmentName == "")
                                    {
                                        <span class="btn btn-outline-primary" onclick="loadSalesHoleOfUnit('Группа продаж ДВС', this)">ДВС</span>
                                    }
                                </div>
                            }
                            <div class="row">
                                <div class="col">
                                    <div class="m-auto text-center p-3" style="height: 70px;">
                                        <h6>Общая воронка продаж</h6>
                                    </div>
                                    <div class="text-center mb-2">
                                        <div class="bg-info">
                                            <div class="text-dark">Маловероятные</div>
                                            <b class="text-dark generalSalesHoleMoney" data-probability="Маловероятная"></b>
                                        </div>
                                        <div class="bg-warning w-75 m-auto">
                                            <div class="text-dark">Вероятные</div>
                                            <b class="text-dark generalSalesHoleMoney" data-probability="Вероятная"></b>
                                        </div>
                                        <div class="mb-2 bg-success w-50 m-auto">
                                            <div class="text-dark">Подписанные</div>
                                            <b class="text-dark generalSalesHoleMoney" data-probability="Подписанная"></b>
                                        </div>
                                    </div>
                                    <div class="text-center font-weight-bold totalGeneralSalesHoleMoney"></div>
                                </div>
                                <div class="col">
                                    <div class="m-auto text-center p-3" style="height: 70px;">
                                        <h6>Прогноз продаж на текущий год</h6>
                                    </div>
                                    <div class="text-center mb-2">
                                        <div class="bg-info">
                                            <div class="text-dark">Маловероятные</div>
                                            <b class="text-dark planSalesHoleMoney" data-probability="Маловероятная"></b>
                                        </div>
                                        <div class="bg-warning w-75 m-auto">
                                            <div class="text-dark">Вероятные</div>
                                            <b class="text-dark planSalesHoleMoney" data-probability="Вероятная"></b>
                                        </div>
                                        <div class="mb-2 bg-success w-50 m-auto">
                                            <div class="text-dark">Подписанные</div>
                                            <b class="text-dark planSalesHoleMoney" data-probability="Подписанная"></b>
                                        </div>
                                    </div>
                                    <div class="text-center font-weight-bold totalPlanSalesHoleMoney"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            <div class="col kanban-block">
                <div class="m-auto text-center p-3">
                    <h3>Канбан</h3>
                </div>
                <div>
                    <div class="m-auto loader loader-kanban"></div>
                    <div class="alert alert-danger alert-kanban" role="alert" style="display: none;">
                        Что-то пошло не так, обратитесь к администратору.
                    </div>
                </div>

                <div class="info-kanban" style="display: none">
                    @if (ViewBag.IsTop)
                    {
                        <div class="text-center mb-2" data-toggle="buttons">
                            @if (ViewBag.ManagedDepartmentName == "ДИС" || ViewBag.ManagedDepartmentName == "")
                            {
                                <span class="btn btn-outline-primary" onclick="loadKanbanOfUnit('Офис продаж ЕКБ', this)">ОП Екб</span>
                                <span class="btn btn-outline-primary" onclick="loadKanbanOfUnit('Офис продаж СПБ', this)">ОП СПб</span>
                                <span class="btn btn-outline-primary" onclick="loadKanbanOfUnit('Офис продаж ТЮМ', this)">ОП ТМН</span>
                                <span class="btn btn-outline-primary" onclick="loadKanbanOfUnit('Офис продаж ПРМ', this)">ОП ПРМ</span>
                            }

                            @if (ViewBag.ManagedDepartmentName == "")
                            {
                                <span class="btn btn-outline-primary" onclick="loadKanbanOfUnit('Группа продаж ДВС', this)">ДВС</span>
                            }
                        </div>
                    }
                    <div>
                        <table class="table text-center table-kanban">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Верификация потребности</th>
                                    <th>Разработка проекта технического решения</th>
                                    <th>Согласование решения</th>
                                    <th>Конкурсная процедура</th>
                                    <th>Подписание контракта</th>
                                    <th>Работа по контракту</th>
                                    <th>Контракт закрыт</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>

</div>

@section Scripts
{
    <script>
        const True = true;
        const False = false;

        const isTop = @ViewBag.IsTop;
    </script>
    @if (!ViewBag.IsOl)
    {
        <script type="text/javascript" src="~/js/StartPage/loadingTopOrganizations.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/StartPage/loadingSalesHole.js" asp-append-version="true"></script>
    }

    <script type="text/javascript" src="~/js/StartPage/loadingKanban.js" asp-append-version="true"></script>
}

@section Styles {

    <link href="~/lib/select2/select2.min.css" rel="stylesheet" />
    <link href='~/lib/dropzone/dropzone.css' type='text/css' rel='stylesheet'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta charset="UTF-8" />


    <style>
        .whiteColor {
            color: white;
        }

        .loader {
            border: 4px solid #f3f3f3; /* Light grey */
            border-top: 4px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            animation: spin 2s linear infinite;
        }

        @@keyframes spin {
            0% {
                transform: rotate(0);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
}