@model CRM.Data.Models.Organization
@{
    ViewData["Name"] = Model?.ShortName;

    if (Model == null)
    {
        ViewData["Name"] = "Создание организации";
    }
}

<form>
    @*asp-action="CreateOrUpdate" asp-controller="Organizations"*@
    <div class="animated fadeIn">
        <div class="card">
            <div class="card-body">
                <div class="row organizationInfo">

                    <div class="col-md-6">

                        <div class="card">
                            <div class="card-header">
                                <strong>Общая информация</strong>
                                <div class="card-actions">
                                    <a href="#" class="btn btn-minimize" data-toggle="collapse"
                                       data-target="#common-info-card-body"
                                       aria-expanded="true"><i class="icon-arrow-up"></i></a>
                                </div>
                            </div>
                            <div id="common-info-card-body" class="card-body collapse show">

                                <div class="row">
                                    <input asp-for="Id" type="hidden" />
                                    <input asp-for="ResponsibleUserId" type="hidden" />

                                    <div class="col-md-12">
                                        <div class="form-group required">
                                            <label for="name">Название</label>
                                            <input id="party" name="party" type="text" class="form-control" required placeholder="Название организации" onkeyup="ucFirst(this)" />

                                        </div>
                                    </div>
                                </div>
                                <!--/.row-->

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group required">
                                            <label for="short-name">Краткое название организации</label>
                                            <input type="text" class="form-control" id="short-name" placeholder="Краткое название организации" required onkeyup="ucFirst(this)" />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group required">
                                            <label for="responsible">Ответственный</label>

                                            <select style="width: 100%"
                                                    class="form-control" id="responsible" required>
                                                <option value="" selected disabled>Не выбрано</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <!--/.row-->

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group required">
                                            <label for="phone">Телефон</label>
                                            <input type="text" class="form-control" id="phone" placeholder="Телефон" required />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="email">E-mail</label>
                                            <input type="text" class="form-control" id="email" placeholder="E-mail" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="parent-organization">Родительская организация</label>
                                            <select style="width: 100%"
                                                    id="parent-organization" class="form-control">
                                                <option value="" selected disabled>Не выбрано</option>

                                            </select>
                                        </div>
                                    </div>

                                    <div class="@(Model == null ? "col-md-6" : "col-md-5")">
                                        <div class="form-group required">
                                            <label for="main-contact">Основной контакт</label>
                                            <select style="width: 100%"
                                                    id="main-contact" class="form-control" required>
                                                <option value="" selected disabled>Не выбрано</option>
                                            </select>
                                        </div>
                                    </div>

                                    @if (Model != null)
                                    {
                                        <div class="col-md-1 mt-4">
                                            <a class="btn btn-primary btn-sm rounded text-white" target="_blank"
                                               href="/Contacts/ContactFromOrganization/@Model.Id">+</a>
                                        </div>
                                    }
                                </div>

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group required">
                                            <label for="site">Веб-сайт</label>
                                            <input type="text" class="form-control" id="site" placeholder="Веб-сайт" required />
                                        </div>
                                    </div>

                                    <div class="col-md-6 show-contacts">
                                        <br />
                                        <input id="show-contacts" type="button" class="btn btn-primary" onclick="modalContactList.open()" value="Список контактов" />
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6"></div>
                                    <div class="col-md-6 show-deals">
                                        <br />
                                        <input id="show-deals" type="button" class="btn btn-primary" onclick="modalDealList.open()" value="Список сделок" />
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <strong>Реквизиты организации</strong>
                                <div class="card-actions">
                                    <a href="#" class="btn btn-minimize" data-toggle="collapse"
                                       data-target="#bankdetails-info-card-body"
                                       aria-expanded="true"><i class="icon-arrow-up"></i></a>
                                </div>
                            </div>
                            <div id="bankdetails-info-card-body" class="card-body collapse show">

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group required">
                                            <label for="bank-details-inn">ИНН</label>
                                            <input type="text" class="form-control" required
                                                   id="bank-details-inn" placeholder="ИНН" />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="bank-details-kpp">КПП</label>
                                            <input type="text" class="form-control"
                                                   id="bank-details-kpp" placeholder="КПП" />
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="bank-details-ogrn">ОГРН</label>
                                            <input type="text" class="form-control"
                                                   id="bank-details-ogrn" placeholder="ОГРН" />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="bank-details-okpo">ОКПО</label>
                                            <input type="text" class="form-control"
                                                   id="bank-details-okpo" placeholder="ОКПО" />
                                        </div>
                                    </div>

                                </div>
                                <!--/.row-->


                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <strong>Банковские реквизиты</strong>
                                <div class="card-actions">
                                    <a href="#" class="btn btn-minimize" data-toggle="collapse"
                                       data-target="#bankdetails-bank-info-card-body"
                                       aria-expanded="true"><i class="icon-arrow-up"></i></a>
                                </div>
                            </div>
                            <div id="bankdetails-bank-info-card-body" class="card-body collapse">

                                <div class="row">
                                    <input type="hidden" />
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="bank-details-bank-bankname">Название банка</label>
                                            <input type="text" class="form-control"
                                                   id="bank-details-bank-bankname" placeholder="Название банка" />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="bank-details-bank-bik">БИК</label>
                                            <input type="text" class="form-control"
                                                   id="bank-details-bank-bik" placeholder="БИК" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                    </div>

                                </div>
                                <!--/.row-->

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="bank-details-bank-inn">ИНН</label>
                                            <input type="text" class="form-control"
                                                   id="bank-details-bank-inn" placeholder="ИНН" />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="bank-details-bank-kpp">КПП</label>
                                            <input type="text" class="form-control"
                                                   id="bank-details-bank-kpp" placeholder="КПП" />
                                        </div>
                                    </div>

                                </div>
                                <!--/.row-->

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="bank-details-bank-rs">РС</label>
                                            <input type="text" class="form-control"
                                                   id="bank-details-bank-rs" placeholder="РС" />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="bank-details-bank-ks">КС</label>
                                            <input type="text" class="form-control"
                                                   id="bank-details-bank-ks" placeholder="КС" />
                                        </div>
                                    </div>

                                </div>
                                <!--/.row-->


                            </div>
                        </div>
                    </div>
                    <!--/.col-->

                    <div class="col-md-6">

                        <div class="card">
                            <div class="card-header">
                                <strong>Адрес</strong>
                                <div class="card-actions required">
                                    <a href="#" class="btn btn-minimize" data-toggle="collapse"
                                       data-target="#address-info-card-body"
                                       aria-expanded="true"><i class="icon-arrow-up"></i></a>
                                </div>
                            </div>
                            <div id="address-info-card-body" class="card-body collapse show required">

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group required">
                                            <label for="country">Страна</label>
                                            <input type="text" class="form-control" id="country" placeholder="Страна" required onkeyup="ucFirst(this)" />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group required">
                                            <label for="city">Город</label>
                                            <input type="text" class="form-control" id="city" placeholder="Город" required onkeyup="ucFirst(this)" />
                                        </div>
                                    </div>

                                </div>
                                <!--/.row-->

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group required">
                                            <label for="region">Регион</label>
                                            <input type="text" class="form-control" id="region" placeholder="Регион" required onkeyup="ucFirst(this)" />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group required">
                                            <label for="street">Улица</label>
                                            <input type="text" class="form-control" id="street" placeholder="Улица" required onkeyup="ucFirst(this)" />
                                        </div>
                                    </div>
                                </div>
                                <!--/.row-->

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group required">
                                            <label for="zip-code">Индекс</label>
                                            <input type="text" class="form-control" id="zip-code" placeholder="Индекс" required />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group required">
                                            <label for="building">Дом</label>
                                            <input type="text" class="form-control" id="building" placeholder="Дом" required />
                                        </div>
                                    </div>
                                </div>
                                <!--/.row-->

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="office">Офис</label>
                                            <input type="text" class="form-control" id="office" placeholder="Офис" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-check mb-2 p-0" for="are-addresses-equal">Адреса совпадают</label>
                                        <label class="switch switch-3d switch-primary">
                                            <input id="are-addresses-equal" type="checkbox" class="switch-input" onclick="CopyAddressValues(this);">
                                            <span class="switch-label"></span>
                                            <span class="switch-handle"></span>
                                        </label>
                                    </div>
                                </div>
                                <!--/.row-->
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <strong>Юридический Адрес</strong>
                                <div class="card-actions">
                                    <a href="#" class="btn btn-minimize" data-toggle="collapse" data-target="#legal-address-info-card-body" aria-expanded="true"><i class="icon-arrow-up"></i></a>
                                </div>
                            </div>
                            <div id="legal-address-info-card-body" class="card-body collapse">


                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="legal-country">Страна</label>
                                            <input type="text" class="form-control" id="legal-country" placeholder="Страна" onkeyup="ucFirst(this)">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="legal-city">Город</label>
                                            <input type="text" class="form-control suggestions-input" onkeyup="ucFirst(this)"
                                                   style="width: 100%; height: 2.5em; box-sizing: border-box;" id="legal-city" name="city" placeholder="Город" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                                            <div class="suggestions-wrapper">
                                                <span class="suggestions-addon" data-addon-type="spinner" style="left: 332.75px; top: -34px; height: 33px; width: 33px;"></span>
                                                <ul class="suggestions-constraints" style="left: 13px; top: -17px;"></ul>
                                                <div class="suggestions-suggestions" style="position: absolute; display: none; left: 0px; top: -1px; width: 366.75px;"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="legal-region">Регион</label>
                                            <input type="text" class="form-control" id="legal-region" placeholder="Регион" onkeyup="ucFirst(this)">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="legal-street">Улица</label>
                                            <input type="text" class="form-control" id="legal-street" placeholder="Улица" onkeyup="ucFirst(this)">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="legal-index">Индекс</label>
                                            <input type="text" class="form-control" id="legal-index" placeholder="Индекс">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="legal-building">Дом</label>
                                            <input type="text" class="form-control" id="legal-building" placeholder="Дом">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="legal-office">Офис</label>
                                            <input type="text" class="form-control" id="legal-office" placeholder="Офис">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <strong>Дополнительная информация</strong>
                                <div class="card-actions">
                                    <a href="#" class="btn btn-minimize" data-toggle="collapse"
                                       data-target="#additional-info-card-body"
                                       aria-expanded="true"><i class="icon-arrow-up"></i></a>
                                </div>
                            </div>
                            <div id="additional-info-card-body" class="card-body collapse show">

                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group required">
                                            <label for="industry">Отрасль</label>
                                            <select style="width: 100%"
                                                    class="form-control" id="industry" required>
                                                <option value="" selected disabled>Не выбрано</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4" style="padding-top:20px;">
                                        <div class="form-group ">
                                            <label class="switch switch-3d switch-primary">
                                                <input id="take-on-control" type="checkbox" class="switch-input" />
                                                <span class="switch-label"></span>
                                                <span class="switch-handle"></span>
                                            </label>
                                            <label class="form-check-inline"
                                                   for="take-on-control">
                                                Контроль топ-менеджмента
                                            </label>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group required">
                                            <label for="sales-office">Офис продаж</label>
                                            <select style="width: 100%"
                                                    class="form-control" id="sales-office" required>
                                                <option value="" selected disabled>Не выбрано</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="foundation-date">Дата основания</label>
                                            <input asp-for="FoundationDate" type="date" class="form-control" id="foundation-date" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group required">
                                            <label for="relationship">Тип отношений</label>
                                            <select style="width: 100%"
                                                    class="form-control" id="relationship" required>
                                                <option value="" selected disabled>Не выбрано</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="interest">Источник интереса</label>
                                            <select style="width: 100%"
                                                    class="form-control" id="interest">
                                                <option value="" selected disabled>Не выбрано</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12" style="text-align:end;">
                                <div class="form-group ">
                                    <label class="switch switch-3d switch-primary">
                                        <input id="is-active" type="checkbox" class="switch-input" />
                                        <span class="switch-label"></span>
                                        <span class="switch-handle"></span>
                                    </label>
                                    <label class="form-check-inline"
                                           for="is-active">
                                        Активная
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.col-->
                </div>

            </div>
            <div class="card-footer">
                <div class="form-actions text-center">
                    <input id="cancel" onclick="cancelEdits();" type="button" class="btn btn-secondary" value="Отменить">
                    <input id="submit" onclick="saveOrganization()" type="button" class="btn btn-primary" value="Сохранить">
                </div>
            </div>
        </div>
    </div>
</form>

<div id="modal-contact-list" class="modal">
    <div class="modal-dialog animated">
        <div class="modal-content">
            <div class="contact-list">
                <table id="contact-list-table" class="table table-hover" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>ФИО</th>
                            <th>Ответственное лицо</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="escape">
                <button class="btn btn-classic" onclick="modalContactList.close();">Выйти</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-deal-list" class="modal">
    <div class="modal-dialog animated">
        <div class="modal-content">
            <div class="deal-list">
                <table id="deal-list-table" class="table table-hover" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Название</th>
                            <th>Статус</th>
                            <th>Ответственный</th>
                            <th>Этап сделки</th>
                            <th>Предполагаемый бюджет</th>
                            <th>Предполагаемая маржа</th>
                            <th>Дата подписания</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="escape">
                <button class="btn btn-classic" onclick="modalDealList.close();">Выйти</button>
            </div>
        </div>
    </div>
</div>


@section Styles {
    <link href="~/lib/select2/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/lib/datatables/datatables.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@19.4.2/dist/css/suggestions.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/rmodal/animate.css" type="text/css" />
    <link rel="stylesheet" href="~/lib/rmodal/rmodal.css" type="text/css" />
    <style>
        .required-field-group-highlighted {
            outline: 2px solid red;
        }

        .modal-dialog {
            margin: 130px auto !important;
            max-width: 1500px !important;
        }

        .modal-content {
            padding: 10px;
        }
    </style>

}

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@19.4.2/dist/js/jquery.suggestions.min.js"></script>
    <script src="~/lib/select2/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.0/src/js.cookie.min.js"></script>
    <script src="~/lib/autonumeric/autoNumeric-2.0-BETA.js"></script>
    <script type="text/javascript" src="~/lib/rmodal/rmodal.js"></script>
    <script src="~/lib/jquery-loading-overlay-1.6.0/loadingoverlay.js" type='text/javascript'></script>
    <script type="text/javascript" src="~/lib/datatables/datatables.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="~/js/Organization/organization.js" asp-append-version="true">
    </script>

    <script>

        window.onload = function () {
            var modalContactList = new RModal(document.getElementById('modal-contact-list'),
                {
                    beforeOpen: function (next) {
                        next();
                    },
                    beforeClose: function (next) {
                        next();
                    }
                });

            document.addEventListener('keydown',
                function (ev) {
                    modalContactList.keydown(ev);
                },
                false);

            window.modalContactList = modalContactList;

            var modalDealList = new RModal(document.getElementById('modal-deal-list'),
                {
                    beforeOpen: function (next) {
                        next();
                    },
                    beforeClose: function (next) {
                        next();
                    }
                });

            document.addEventListener('keydown',
                function (ev) {
                    modalDealList.keydown(ev);
                },
                false);

            window.modalDealList = modalDealList;
        }

        $('select').select2({
            placeholder: "Выберите элемент",
            allowClear: true
        });
        var org;

        function Auto(e) {
            $(e).autoNumeric('init', { aSep: ' ', aDec: ',' });
        }

        var town;

        $("#city").suggestions({
            token: "2d26d223890eb3ce67975161d3b43ef3403ffbf4",
            type: "ADDRESS",
            /* Вызывается, когда пользователь выбирает одну из подсказок */
            onSelect: function (suggestion) {
                console.log(suggestion);
                town = suggestion;

                $("#city").val(town.data.city);
                $("#country").val(town.data.country);
                $("#region").val(town.data.region);
                $("#street").val(town.data.street);
                $("#zip-code").val(town.data.postal_code);
                $("#building").val(town.data.house);

                rememberField("city");
                rememberField("country");
                rememberField("region");
                rememberField("street");
                rememberField("zip-code");
                rememberField("building");
            }
        });

        $("#party").suggestions({
            token: "2d26d223890eb3ce67975161d3b43ef3403ffbf4",
            type: "PARTY",
            /* Вызывается, когда пользователь выбирает одну из подсказок */
            onSelect: function (suggestion) {
                console.log(suggestion);
                org = suggestion;

                $("#short-name").val(org.data.name.short);
                $("#phone").val(org.data.phones);
                $("#parentOrganizationId").val(org.data.inn);
                $("#email").val(org.data.emails);

                $("#country").val(org.data.address.data.country);
                $("#region").val(org.data.address.data.region_with_type);
                $("#city").val(org.data.address.data.city);
                $("#street").val(org.data.address.data.street);
                $("#building").val(org.data.address.data.house);

                if (org.data.address.data.flat != null) {
                    $("#office").val(org.data.address.data.flat_type_full + " " + org.data.address.data.flat);
                    rememberField("office");
                } else {
                    $("#office").val(null);
                }
                $("#zip-code").val(org.data.address.data.postal_code);

                $("#bank-details-inn").val(org.data.inn);
                $("#bank-details-ogrn").val(org.data.ogrn);
                $("#bank-details-bik").val(org.data.bik);
                $("#bank-details-kpp").val(org.data.kpp);
                $("#bank-details-okpo").val(org.data.okpo);

                rememberField("short-name");
                rememberField("phone");
                rememberField("parentOrganizationId");
                rememberField("email");
                rememberField("city");
                rememberField("country");
                rememberField("region");
                rememberField("street");
                rememberField("zip-code");
                rememberField("building");
                rememberField("bank-details-inn");
                rememberField("bank-details-ogrn");
                rememberField("bank-details-bik");
                rememberField("bank-details-kpp");
                rememberField("bank-details-okpo");

            }
        });
    </script>











}
