
@{
	ViewData["Name"] = "Email";
}
<script>

    function Auto(e) {
        $(e).autoNumeric('init', { aSep: ' ', aDec: ',' });
    }

</script>

<form id="deal">
	<div class="animated fadeIn">
		<div class="card">
			<div class="card-body">
				<fieldset>
					<legend>Сведения</legend>

					<div class="row">
						<div class="form-group col-md-6">
							<label for="aim">Цель рассылки</label>
							<br />
							<select class="form-control" style="width:100%; height:2.5em;" id="aim"></select>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12" style="padding:15px;">
							<label for="content">Содержание</label>
							<br />
							<textarea class="form-control" id="content"></textarea>
						</div>
					</div>

					<div class="row" style="justify-content:center">
						<div class="col-md-3">
							<div class="form-group">
								<label for="material" class="small">
									Материал
								</label>
								<br />
								<form style="display: inline-block" class="dropzone" id="material">
									<input type="button" class="btn dz-default dz-message upload-btn" value="Загрузить файл" />
								</form>
							</div>
						</div>
					</div>
				</fieldset>

				<br />

				<fieldset>
					<legend>Маркетинговые списки</legend>
					<div class="row">
						<div class="form-group col-md-2">
							<label for="planned-contacts-count">Планируемое кол-во контактов</label>
							<br />
							<input type="number" min="0" value="0" id="planned-contacts-count" style="text-align:center;" />
						</div>

						<div class="form-group col-md-2">
							<label for="what-is-it">?Прикрепленный маркетинговый список?</label>
							<br />
							<input type="number" min="0" value="0" id="what-is-it" style="text-align:center;" />
						</div>

						<div class="form-group col-md-2">
							<label for="sended-mails-count">Кол-во доставленных писем</label>
							<br />
							<input type="number" min="0" value="0" id="sended-mails-count" style="text-align:center;" />
						</div>

						<div class="form-group col-md-2">
							<label for="opened-mails-count">Кол-во открытых писем</label>
							<br />
							<input type="number" min="0" value="0" id="opened-mails-count" style="text-align:center;" />
						</div>

						<div class="form-group col-md-2">
							<label for="click-ref-count">Кол-во переходов по ссылкам</label>
							<br />
							<input type="number" min="0" value="0" id="click-ref-count" style="text-align:center;" />
						</div>

						<div class="form-group col-md-2">
							<label for="actions-count">Кол-во действий</label>
							<br />
							<input type="number" min="0" value="0" id="actions-count" style="text-align:center;" />
						</div>
					</div>
				</fieldset>

				<br />

				<fieldset>
					<legend>Оценка эффективности</legend>
					<div class="row">
						<div class="form-group col-md-3">
							<label for="planned-open-rate">Плановый Open Rate</label>
							<br />
							<input disabled type="number" min="0" value="0" id="planned-open-rate" style="text-align:center;" />
						</div>

						<div class="form-group col-md-3">
							<label for="fact-open-rate">Фактический Open Rate</label>
							<br />
							<input disabled type="number" min="0" value="0" id="fact-open-rate" style="text-align:center;" />
						</div>

						<div class="form-group col-md-3">
							<label for="planned-click-rate">Плановый Click Rate</label>
							<br />
							<input disabled type="number" min="0" value="0" id="planned-click-rate" style="text-align:center;" />
						</div>
						<div class="form-group col-md-3">
							<label for="fact-click-rate">Фактический Click Rate</label>
							<br />
							<input disabled type="number" min="0" value="0" id="fact-click-rate" style="text-align:center;" />
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-3">
							<label for="deals-sum">Фактическая сумма сделок</label>
							<br />
							<input disabled type="number" min="0" value="0" id="deals-sum" style="text-align:center;" />
						</div>

						<div class="form-group col-md-3">
							<label for="contact-price">Стоимость контакта</label>
							<br />
							<input disabled type="number" min="0" value="0" id="contact-price" style="text-align:center;" />
						</div>
						<div class="form-group col-md-3">
							<label for="contact-profit">Доход с контакта</label>
							<br />
							<input disabled type="number" min="0" value="0" id="contact-profit" style="text-align:center;" />
						</div>

						<div class="form-group col-md-3">
							<label for="roi-effect">Экономическая эффективность (ROI)</label>
							<br />
							<input disabled type="number" min="0" value="0" id="roi-effect" style="text-align:center;" />
						</div>

					</div>
				</fieldset>
			</div>

			<div class="card-footer">
				<div class="form-actions text-center">
					<input id="cancel" type="button" class="btn btn-secondary" value="Отменить">
					<input id="submit" onclick="" type="button" class="btn btn-primary" value="Сохранить">
				</div>
			</div>
		</div>
	</div>
</form>

@section Scripts {
	<script src="~/lib/select2/select2.min.js"></script>

	<script src="~/js/Marketing/email.js"  asp-append-version="true"></script>



	<script>
		$("select").select2({
			placeholder: "Выберите элемент",
			allowClear: true
		});
	</script>

}

@section Styles {
	<link href="~/lib/select2/select2.min.css" rel="stylesheet" />

	<style>

		.dropzone {
			width: 13rem;
			min-height: 3em !important;
			height: 3em;
			border-color: #fff;
			padding: 0px;
			pointer-events: none;
		}

		.upload-btn {
			margin: 0 !important;
			pointer-events: all /*!important*/;
			text-align: center;
			font-size: 13px;
			text-decoration: none;
			font-weight: 700;
			padding: 3px 6px;
			background: #eaeef1;
			display: block;
			width: 160px;
			background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1));
			border-radius: 3px;
			color: rgba(0,0,0,.6);
			text-shadow: 0 1px 1px rgba(255,255,255,.7);
			box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);
		}

		.download-btn {
			text-align: center;
			font-size: 13px;
			color: #fff;
			text-decoration: none;
			font-weight: 500;
			padding: 3px 6px;
			background: #20a8d8;
			display: block;
			width: 120px;
			border-radius: 3px;
			box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);
			cursor: pointer !important;
		}
	</style>

}





