
@{
    ViewData["Title"] = "Конструктор шаблонов";
}

<div class="container-fluid">
    <div id="email-constructor">

    </div>
</div>

<div class="btn btn-primary btn-lg rounded fixedsendbut" onclick="modalSendEmail.open();">Отправить</div>
<div class="btn btn-primary btn-lg rounded fixedsavebut">Сохранить</div>

<div id="modal-add-image" class="modal">
    <div class="modal-dialog w-100">
        <div class="modal-content pb-5">
            <div class="input__wrapper">
                <input name="file" type="file" name="file" id="input__file" class="input input__file" onchange="loadImage(this);">
                <label for="input__file" class="input__file-button">
                    <span class="input__file-icon-wrapper"><i class="fa fa-download" aria-hidden="true"></i></span>
                    <span class="input__file-button-text">Выберите файл</span>
                </label>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Ссылка на файл" id="file-link-button" aria-label="Ссылка на файл" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" onclick="loadImageLink()" id="button-addon2">Вставить</button>
                </div>
            </div>
            <footer class="text-center">
                <button class="btn btn-outline-blue" onclick="closeImageModal();">Отменить</button>
            </footer>
        </div>
    </div>
</div>

<div id="modal-send-email" class="modal">
    <div class="modal-dialog w-100">
        <div class="modal-content p-5">
            <button class="btn btn-primary rounded mb-2" onclick="sendTestEmail(this);">Отправить себе</button>
            <div class="mb-3">
                <select class="form-control additional-receivers" multiple="multiple">
                </select>
            </div>
            <div class="mb-3">
                <select class="form-control marketing-lists" multiple="multiple">
                </select>
                <div class="invalid-feedback">Введите почту получателей или маркетинговый список.</div>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="email-theme" placeholder="Тема письма" aria-label="Тема письма">
            </div>
            <footer class="text-center">
                <button class="btn btn-outline-dark" onclick="modalSendEmail.close();">Отменить</button>
                <button class="btn btn-outline-blue" onclick="sendEmail(this)">Отправить</button>
            </footer>
        </div>
    </div>
</div>

<div id="modal-save-template" class="modal">
    <div class="modal-dialog animated">
        <div class="modal-content p-2">
            <div class="d-flex justify-content-end">
                <i class="fa fa-times fa-2x" aria-hidden="true" onclick="modalNewTemplate.close();"></i>
            </div>
            <div class="d-flex justify-content-center mt-2">
                <div class="input-group mb-3">
                    <input type="text" id="template-new-name" class="form-control" placeholder="Название шаблона" aria-label="Название шаблона">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button" onclick="SaveTemplate(this);">Создать</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-update-template" class="modal">
    <div class="modal-dialog animated">
        <div class="modal-content p-2">
            <div class="d-flex justify-content-end">
                <i class="fa fa-times fa-2x" aria-hidden="true" onclick="modalUpdateTemplate.close();"></i>
            </div>
            <div class="d-flex justify-content-center mt-2">
                <div class="input-group mb-3">
                    <input type="text" id="template-name" class="form-control" placeholder="Название шаблона" aria-label="Название шаблона">
                </div>
            </div>
            <footer class="text-center mt-2">
                <button class="btn btn-outline-blue" onclick="UpdateTemplate(this);">Обновить</button>
                <button class="btn btn-outline-blue" onclick="SaveTemplate(this, true);">Сохранить как новый</button>
            </footer>
        </div>
    </div>
</div>

@section Styles
{
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/rmodal/animate.css" type="text/css" />
    <link rel="stylesheet" href="~/lib/rmodal/rmodal.css" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/datepicker/css/datepicker.min.css" type="text/css" />
    <link href='~/lib/dropzone/dropzone.css' type='text/css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="~/lib/datatables/datatables.min.css" />
    <link rel="stylesheet" href="~/hostLib/mjml-creator/mjmlCreator.css" type="text/css" asp-append-version="true" />

    <style>

        .form-control:disabled, .form-control[readonly],
        input[type="checkbox"]:disabled + span + span.switch-handle {
            background-color: #eee !important;
        }

        #form-summary select {
            width: 100%
        }
            /* This is to remove the arrow of select element in IE */
            #form-summary select::-ms-expand {
                display: none;
            }

        #form-summary select {
            -webkit-appearance: none;
            /*appearance: none;*/
        }

        .download-btn {
            text-align: center;
            font-size: 13px;
            color: #fff;
            text-decoration: none;
            font-weight: 500;
            padding: 4px 10px;
            background: #20a8d8;
            display: block;
            border-radius: 3px;
            box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);
            cursor: pointer !important;
        }
    </style>
}

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/javascript" src="~/lib/rmodal/rmodal.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.0/src/js.cookie.min.js"></script>
    <script type="text/javascript" src="~/lib/datepicker/js/datepicker.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/lib/dropzone/dropzone.js"></script>
    <script type="text/javascript" src="~/lib/datatables/datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@editorjs/editorjs@latest"></script>
    <script src="https://unpkg.com/@@popperjs/core@2/dist/umd/popper.min.js"></script>

    <script src="~/hostLib/mjml-creator/AddImageModal.js" asp-append-version="true"></script>
    <script src="~/hostLib/mjml-creator/addSendEmailModal.js" asp-append-version="true"></script>
    <script src="~/hostLib/mjml-creator/mjmlManager.js" asp-append-version="true"></script>
    <script src="~/hostLib/mjml-creator/mjmlDragDropElements.js" asp-append-version="true"></script>
    <script src="~/hostLib/mjml-creator/mjmlCreator.js" asp-append-version="true"></script>
    <script src="~/hostLib/mjml-creator/editorConfigure.js" asp-append-version="true"></script>
    <script src="~/hostLib/mjml-creator/popoverInitializer.js" asp-append-version="true"></script>
    <script src="~/hostLib/mjml-creator/selectTextUtility.js" asp-append-version="true"></script>
    <script src="~/js/EmailCreator/emailCreator.js" asp-append-version="true"></script>
    <script src="~/js/EmailCreator/sendingEmail.js" asp-append-version="true"></script>
    <script src="~/js/EmailCreator/templateLoader.js" asp-append-version="true"></script>
    <script src="~/js/EmailCreator/templateSaver.js" asp-append-version="true"></script>
    <script src="~/js/EmailCreator/templateUpdater.js" asp-append-version="true"></script>
}
