
@{
	ViewData["Name"] = "Net";
}
	<script>

        function Auto(e) {
            $(e).autoNumeric('init', { aSep: ' ', aDec: ',' });
        }

	</script>

<form id="deal">
	<div class="animated fadeIn">
		<div class="card">
			<div class="card-body">
				<fieldset>
					<legend>Сведения</legend>

					<div class="row">
						<div class="form-group col-md-6">
							<label for="planned-sum">Планируемая сумма сделок</label>
							<br />
							<input onkeydown="Auto(this)" id="planned-sum" style="width:100%; height:2.5em;" type="text" class="form-control" />
						</div>

						<div class="form-group col-md-6">
							<label for="fact-sum">Планируемая сумма сделок</label>
							<br />
							<input onkeydown="Auto(this)" id="fact-sum" style="width:100%; height:2.5em;" type="text" class="form-control" />
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-3">
							<label for="fact-show-count">Кол-во показов (факт)</label>
							<br />
							<input type="number" min="0" value="0" id="fact-show-count" style="text-align:center;" />
						</div>

						<div class="form-group col-md-3">
							<label for="fact-click-count">Кол-во кликов (факт)</label>
							<br />
							<input type="number" min="0" value="0" id="fact-click-count" style="text-align:center;" />
						</div>

						<div class="form-group col-md-3">
							<label for="fact-action-count">Кол-во действий (факт)</label>
							<br />
							<input type="number" min="0" value="0" id="fact-action-count" style="text-align:center;" />
						</div>

						<div class="form-group col-md-3">
							<label for="fact-new-contacts-count">Фактическое кол-во контактов</label>
							<br />
							<input type="number" min="0" value="0" id="fact-new-contacts-count" style="text-align:center;" />
						</div>
					</div>
				</fieldset>

				<br />

				<fieldset>
					<legend>Оценка эффективности</legend>
					<div class="row">
						<div class="form-group col-md-3">
							<label for="planned-ctr">Плановый CTR</label>
							<br />
							<input disabled type="number" min="0" value="0" id="planned-ctr" style="text-align:center;" />
						</div>

						<div class="form-group col-md-3">
							<label for="fact-ctr">Фактический CTR</label>
							<br />
							<input disabled type="number" min="0" value="0" id="fact-ctr" style="text-align:center;" />
						</div>

						<div class="form-group col-md-3">
							<label for="planned-cea">Плановый CEA</label>
							<br />
							<input disabled type="number" min="0" value="0" id="planned-cea" style="text-align:center;" />
						</div>
						<div class="form-group col-md-3">
							<label for="fact-cea">Фактический CEA</label>
							<br />
							<input disabled type="number" min="0" value="0" id="fact-cea" style="text-align:center;" />
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-4">
							<label for="lid-price">Стоимость лида</label>
							<br />
							<input disabled type="number" min="0" value="0" id="lid-price" style="text-align:center;" />
						</div>
						<div class="form-group col-md-4">
							<label for="lid-profit">Доход с лида</label>
							<br />
							<input disabled type="number" min="0" value="0" id="lid-profit" style="text-align:center;" />
						</div>

						<div class="form-group col-md-4">
							<label for="roi-effect">Экономическая эффективность (ROI)</label>
							<br />
							<input disabled type="number" min="0" value="0" id="roi-effect" style="text-align:center;" />
						</div>


					</div>
				</fieldset>
			</div>

			<div class="card-footer">
				<div class="form-actions text-center">
					<input id="cancel" type="button" class="btn btn-secondary" value="Отменить">
					<input id="submit" onclick="" type="button" class="btn btn-primary" value="Сохранить">
				</div>
			</div>
		</div>
	</div>
</form>

@section Styles {
	<link href="~/lib/select2/select2.min.css" rel="stylesheet" />
}


@section Scripts {
	<script src="~/lib/select2/select2.min.js"></script>

	<script src="~/js/Marketing/net.js"  asp-append-version="true"></script>



	<script>
		$("select").select2({
			placeholder: "Выберите элемент",
			allowClear: true
		});
	</script>

}


