@{
    ViewData["Name"] = "Прогноз продаж";
}


<br />

<table id="statement" class="table table-hover w-100 compact">
    <thead>
        <tr>
            <th>
                ОП
            </th>
            <th>
                Ответственный
            </th>
            <th>
                Клиент
            </th>
            <th>
                Сделка
            </th>
            <th>
                Сделка (кратко)
            </th>
            <th>
                Тип сделки
            </th>
            <th>
                Этап
            </th>
            <th>
                Статус
            </th>
            <th>
                Дата записи сделки в CRM
            </th>
            <th>
                Предполагаемая дата контракта
            </th>
            <th>
                Предполагаемая дата закрытия
            </th>
            <th>
                Дата последнего изменения
            </th>
            <th>
                Департамент
            </th>
            <th>
                Вероятность
            </th>
            <th>
                Вход
            </th>
            <th>
                Предполагаемая сумма контракта
            </th>
            <th>
                Предполагаемая маржа
            </th>
            <th>
                Экспертная оценка маржи
            </th>
            <th>
                Средневзвешенная маржа
            </th>
            <th>
                Продажа
            </th>
            <th>
                Производство
            </th>
            <th>
                Класс сделки
            </th>
            <th>
                Вопросы
            </th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script>
        var isPlan = true;
    </script>
    <script type="text/javascript" src="~/lib/datepicker/js/datepicker.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/lib/autonumeric/autoNumeric-2.0-BETA.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.colVis.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.2/js/dataTables.responsive.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.2/css/responsive.dataTables.min.css" />
    <script type="text/javascript" src="~/lib/jquery-loading-overlay-1.6.0/loadingoverlay.js"></script>
    <script type="text/javascript" src="~/js/Statements/statements.js" asp-append-version="true"></script>
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="https://nightly.datatables.net/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css" />
    <link href="~/lib/datepicker/css/datepicker.min.css" rel="stylesheet" type="text/css">

    <style>
        th,
        td {
            border: 1px solid #d3d3d3;
            padding: 10px;
        }

        th {
            font-size: 13px;
        }

        td {
            font-size: 12px;
        }

        .scrollStyle {
            height: 85vh;
            overflow-x: auto;
            overflow-y: scroll;
        }

        .column_fix {
            padding-left: 16px !important;
        }

        .buttons-columnVisibility {
            white-space: normal !important;
        }

        .btn-success {
            border-color: #28a745 !important;
        }

        #statement {
            table-layout: fixed;
        }

        #statement-date-from,
        #statement-date-to {
            height: 29px;
        }
    </style>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta charset="UTF-8" />
}