<header class="app-header navbar pr-5">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" asp-controller="CoreUI" asp-action="Index"></a>
    <button class="navbar-toggler sidebar-toggler d-md-down-none mr-auto" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- remove:seed -->
    <p id="user-name" class="mr-2"></p>
    &nbsp;
    <a asp-controller="PersonalManagement" asp-action="Index" asp-route-view=""><img alt="Фото" height="35" src="" id="user-photo" /></a>

    <!-- /remove:seed -->
</header>
