<nav class="sidebar-nav">
    <ul class="nav">

        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i>Контакты</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link"><i class="fa fa-windows"></i>Список</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="icon-speech"></i>Создать</a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i>Организации</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link"><i class="fa fa-windows"></i>Список</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="icon-speech"></i>Создать</a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i>Сделки</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link"><i class="fa fa-windows"></i>Список</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="icon-speech"></i>Создать</a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i>Отчетность</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link"><i class="icon-puzzle"></i>Воронка продаж</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="icon-puzzle"></i>Прогноз продаж</a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i>Заявки</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link"><i class="fa fa-windows"></i>Заявки на продуктирование</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="fa fa-windows"></i>Заявки на услуги</a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i>Интересы</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link"><i class="fa fa-windows"></i>Список</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="icon-speech"></i>Создать</a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i>Маркетинг</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="PreSales" asp-action="Index" asp-route-view=""><i class="fa fa-windows"></i>Pre-sale</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"><i class="fa fa-windows"></i>Лиды</a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i>Админ панель</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link"><i class="icon-speech"></i>Вендоры</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="icon-speech"></i>Направления</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="icon-speech"></i>Типы сделок</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="icon-speech"></i>Подразделения</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="icon-speech"></i>Роли пользователей</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link"><i class="icon-puzzle"></i>Канбан</a>
        </li>
        <li class="nav-item nav-dropdown mt-auto">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i>Справочник</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link"><i class="icon-speech"></i>Инструкции</a>
                </li>
            </ul>
        </li>

        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i>Обратная связь</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link"><i class="icon-speech"></i>Ошибки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="icon-speech"></i>Улучшения</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="icon-speech"></i>Вопросы</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>

	